In [56]:
import pandas as pd
import numpy as np

In [57]:
data = pd.read_csv('SlaughterCounts.csv')

# Change dash in data to space
data['Date'] = data['Date'].str.replace('-',' ')

# Update column counts
columns = data.columns
for column in columns:
    if column != 'Date':
        if data[column].dtype != np.number:
            data[column] = data[column].str.replace(',', '')
        
        data[column] = pd.to_numeric(data[column])
        
        data[column] = data[column] * 1000

,Date,Cattle,Steers,Heifers,Beef cows,Dairy cows,Bulls and stags,Calves,Hogs,Barrows and gilts,Sows,Boars and stags,Sheep and lambs,Lambs and yearlings,Mature sheep,Broilers,Other chickens,Turkeys
0,Sep-2019,"2,676.7","1,278.2",830.8,258.3,259.7,49.6,49.0,"10,647.4","10,376.5",239.7,31.2,179.4,168.4,11.0,"766,993.0","9,714.0","18,130.0"
1,Aug-2019,"2,926.2","1,462.1",878.1,265.3,270.2,50.5,50.9,"10,867.0","10,589.3",246.3,31.4,201.5,188.7,12.8,"804,355.0","10,044.0","20,316.0"
2,Jul-2019,"2,938.3","1,511.3",852.9,266.4,260.0,47.8,53.7,"10,578.2","10,301.2",255.0,22.0,188.3,176.7,11.6,"814,385.0","9,015.0","19,484.0"
3,Jun-2019,"2,804.9","1,475.4",783.1,262.3,234.2,49.9,44.4,"9,988.7","9,715.9",243.1,29.6,175.3,165.1,10.2,"738,489.0","9,082.0","18,564.0"
4,May-2019,"2,939.0","1,544.0",812.9,271.7,261.6,48.7,46.2,"10,354.3","10,067.3",253.9,33.1,209.2,196.7,12.5,"803,158.0","10,114.0","19,104.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,May-1944,NaN,NaN,123.6,NaN,NaN,79.2,NaN,NaN,"7,132.9",684.3,47.4,NaN,"1,695.5",240.0,NaN,NaN,NaN
905,Apr-1944,NaN,NaN,137.1,NaN,NaN,56.2,NaN,NaN,"6,724.2",620.3,44.6,NaN,"1,482.2",104.8,NaN,NaN,NaN
906,Mar-1944,NaN,NaN,158.8,NaN,NaN,55.2,NaN,NaN,"7,422.3",919.4,93.0,NaN,"1,633.7",107.6,NaN,NaN,NaN
907,Feb-1944,NaN,NaN,170.5,NaN,NaN,45.0,NaN,NaN,"7,449.4","1,117.8",35.0,NaN,"1,523.8",180.6,NaN,NaN,NaN
908,Jan-1944,NaN,NaN,194.7,NaN,NaN,45.3,NaN,NaN,"7,784.3","1,369.2",36.3,NaN,"1,842.0",304.2,NaN,NaN,NaN

,Date,Cattle,Steers,Heifers,Beef cows,Dairy cows,Bulls and stags,Calves,Hogs,Barrows and gilts,Sows,Boars and stags,Sheep and lambs,Lambs and yearlings,Mature sheep,Broilers,Other chickens,Turkeys
0,Sep 2019,"2,676.7","1,278.2",830.8,258.3,259.7,49.6,49.0,"10,647.4","10,376.5",239.7,31.2,179.4,168.4,11.0,"766,993.0","9,714.0","18,130.0"
1,Aug 2019,"2,926.2","1,462.1",878.1,265.3,270.2,50.5,50.9,"10,867.0","10,589.3",246.3,31.4,201.5,188.7,12.8,"804,355.0","10,044.0","20,316.0"
2,Jul 2019,"2,938.3","1,511.3",852.9,266.4,260.0,47.8,53.7,"10,578.2","10,301.2",255.0,22.0,188.3,176.7,11.6,"814,385.0","9,015.0","19,484.0"
3,Jun 2019,"2,804.9","1,475.4",783.1,262.3,234.2,49.9,44.4,"9,988.7","9,715.9",243.1,29.6,175.3,165.1,10.2,"738,489.0","9,082.0","18,564.0"
4,May 2019,"2,939.0","1,544.0",812.9,271.7,261.6,48.7,46.2,"10,354.3","10,067.3",253.9,33.1,209.2,196.7,12.5,"803,158.0","10,114.0","19,104.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,May 1944,NaN,NaN,123.6,NaN,NaN,79.2,NaN,NaN,"7,132.9",684.3,47.4,NaN,"1,695.5",240.0,NaN,NaN,NaN
905,Apr 1944,NaN,NaN,137.1,NaN,NaN,56.2,NaN,NaN,"6,724.2",620.3,44.6,NaN,"1,482.2",104.8,NaN,NaN,NaN
906,Mar 1944,NaN,NaN,158.8,NaN,NaN,55.2,NaN,NaN,"7,422.3",919.4,93.0,NaN,"1,633.7",107.6,NaN,NaN,NaN
907,Feb 1944,NaN,NaN,170.5,NaN,NaN,45.0,NaN,NaN,"7,449.4","1,117.8",35.0,NaN,"1,523.8",180.6,NaN,NaN,NaN
908,Jan 1944,NaN,NaN,194.7,NaN,NaN,45.3,NaN,NaN,"7,784.3","1,369.2",36.3,NaN,"1,842.0",304.2,NaN,NaN,NaN

In [60]:
data = data.fillna(1.0)
data

,Date,Cattle,Steers,Heifers,Beef cows,Dairy cows,Bulls and stags,Calves,Hogs,Barrows and gilts,Sows,Boars and stags,Sheep and lambs,Lambs and yearlings,Mature sheep,Broilers,Other chickens,Turkeys
0,Sep 2019,2676700.0,1278200.0,830800.0,258300.0,259700.0,49600.0,49000.0,10647400.0,10376500.0,239700.0,31200.0,179400.0,168400.0,11000.0,766993000.0,9714000.0,18130000.0
1,Aug 2019,2926200.0,1462100.0,878100.0,265300.0,270200.0,50500.0,50900.0,10867000.0,10589300.0,246300.0,31400.0,201500.0,188700.0,12800.0,804355000.0,10044000.0,20316000.0
2,Jul 2019,2938300.0,1511300.0,852900.0,266400.0,260000.0,47800.0,53700.0,10578200.0,10301200.0,255000.0,22000.0,188300.0,176700.0,11600.0,814385000.0,9015000.0,19484000.0
3,Jun 2019,2804900.0,1475400.0,783100.0,262300.0,234200.0,49900.0,44400.0,9988700.0,9715900.0,243100.0,29600.0,175300.0,165100.0,10200.0,738489000.0,9082000.0,18564000.0
4,May 2019,2939000.0,1544000.0,812900.0,271700.0,261600.0,48700.0,46200.0,10354300.0,10067300.0,253900.0,33100.0,209200.0,196700.0,12500.0,803158000.0,10114000.0,19104000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,May 1944,1.0,1.0,123600.0,1.0,1.0,79200.0,1.0,1.0,7132900.0,684300.0,47400.0,1.0,1695500.0,240000.0,1.0,1.0,1.0
905,Apr 1944,1.0,1.0,137100.0,1.0,1.0,56200.0,1.0,1.0,6724200.0,620300.0,44600.0,1.0,1482200.0,104800.0,1.0,1.0,1.0
906,Mar 1944,1.0,1.0,158800.0,1.0,1.0,55200.0,1.0,1.0,7422300.0,919400.0,93000.0,1.0,1633700.0,107600.0,1.0,1.0,1.0
907,Feb 1944,1.0,1.0,170500.0,1.0,1.0,45000.0,1.0,1.0,7449400.0,1117800.0,35000.0,1.0,1523800.0,180600.0,1.0,1.0,1.0
908,Jan 1944,1.0,1.0,194700.0,1.0,1.0,45300.0,1.0,1.0,7784300.0,1369200.0,36300.0,1.0,1842000.0,304200.0,1.0,1.0,1.0

In [61]:
data.to_json('SlaughterCounts.json', orient='records')

In [1]:
# Now get the total sums
data

NameError: name 'data' is not defined