In [7]:
import pandas as pd
import numpy as np

In [32]:
data = pd.read_csv('SlaughterCounts.csv')

# Change dash in data to space
data['Date'] = data['Date'].str.replace('-',' ')

# Update column counts
columns = data.columns
for column in columns:
    if column != 'Date':
        if data[column].dtype != np.number:
            data[column] = data[column].str.replace(',', '')
        
        data[column] = pd.to_numeric(data[column])
        
        data[column] = data[column] * 1000
        
data = data.fillna(0.0)

data

,Date,Cattle,Steers,Heifers,Beef cows,Dairy cows,Bulls and stags,Calves,Hogs,Barrows and gilts,Sows,Boars and stags,Sheep and lambs,Lambs and yearlings,Mature sheep,Broilers,Other chickens,Turkeys
0,Sep 2019,2676700.0,1278200.0,830800.0,258300.0,259700.0,49600.0,49000.0,10647400.0,10376500.0,239700.0,31200.0,179400.0,168400.0,11000.0,766993000.0,9714000.0,18130000.0
1,Aug 2019,2926200.0,1462100.0,878100.0,265300.0,270200.0,50500.0,50900.0,10867000.0,10589300.0,246300.0,31400.0,201500.0,188700.0,12800.0,804355000.0,10044000.0,20316000.0
2,Jul 2019,2938300.0,1511300.0,852900.0,266400.0,260000.0,47800.0,53700.0,10578200.0,10301200.0,255000.0,22000.0,188300.0,176700.0,11600.0,814385000.0,9015000.0,19484000.0
3,Jun 2019,2804900.0,1475400.0,783100.0,262300.0,234200.0,49900.0,44400.0,9988700.0,9715900.0,243100.0,29600.0,175300.0,165100.0,10200.0,738489000.0,9082000.0,18564000.0
4,May 2019,2939000.0,1544000.0,812900.0,271700.0,261600.0,48700.0,46200.0,10354300.0,10067300.0,253900.0,33100.0,209200.0,196700.0,12500.0,803158000.0,10114000.0,19104000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,May 1944,0.0,0.0,123600.0,0.0,0.0,79200.0,0.0,0.0,7132900.0,684300.0,47400.0,0.0,1695500.0,240000.0,0.0,0.0,0.0
905,Apr 1944,0.0,0.0,137100.0,0.0,0.0,56200.0,0.0,0.0,6724200.0,620300.0,44600.0,0.0,1482200.0,104800.0,0.0,0.0,0.0
906,Mar 1944,0.0,0.0,158800.0,0.0,0.0,55200.0,0.0,0.0,7422300.0,919400.0,93000.0,0.0,1633700.0,107600.0,0.0,0.0,0.0
907,Feb 1944,0.0,0.0,170500.0,0.0,0.0,45000.0,0.0,0.0,7449400.0,1117800.0,35000.0,0.0,1523800.0,180600.0,0.0,0.0,0.0
908,Jan 1944,0.0,0.0,194700.0,0.0,0.0,45300.0,0.0,0.0,7784300.0,1369200.0,36300.0,0.0,1842000.0,304200.0,0.0,0.0,0.0

In [33]:
# Create main data json file
data.to_json('SlaughterCounts.json', orient='records')

In [35]:
# Now get the total sums
year_data = data

In [41]:
year_data['Date'].str.contains('2019')

0       True
1       True
2       True
3       True
4       True
       ...
904    False
905    False
906    False
907    False
908    False
Name: Date, Length: 909, dtype: bool

In [43]:
for i in range(1940, 2020):
    print(str(i))

1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019